[submodule "submodules/TerminalImageViewer"]
	path = submodules/TerminalImageViewer
	url = https://github.com/stefanhaustein/TerminalImageViewer.git
[submodule "submodules/gwenview"]
	path = submodules/gwenview
	url = https://invent.kde.org/graphics/gwenview.git
